.yellow-btn {
    padding: 10px 24px;
    background-color: var(--primary-yellow);
    border: none;
    line-height: 20px;
    border-radius: 4px;
    margin-left: 4px;
    height: 72px;
    color: var(--secondary-gray);
    transition: background-color 0.15s ease;

    &:hover{
        background-color: var(--primary-light-yellow);
        color: var(--primary-dark-yellow);
    }

    &:disabled {
        opacity: 40%;
        pointer-events: none;
    }
}

.gray-btn {
    background-color: var(--secondary-super-light-gray);
    font-family: "Martel Sans", sans-serif;
    color: var(--secondary-gray);
    flex-shrink: 0;
    padding: 16px 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    transition: background-color 0.15s ease;

    &:hover {
        background-color: var(--secondary-light-gray);
        color: var(--secondary-dark-gray);
    }
}
