:root {
    /* colors */
    --primary-yellow: #FFE145;
    --primary-dark-yellow: #B79C10;
    --primary-light-yellow: #FFF7CC;
    --secondary-gray: #9093A6;
    --secondary-dark-gray: #3F4255;
    --secondary-light-gray: #D4D7E5;
    --secondary-super-light-gray: #F2F4FA;
}
