@import './../../styles/scss-variables.scss';

.app-header {
  border-bottom: 1px solid var(--secondary-gray);
  flex-shrink: 0;
}

.header-container {
  justify-content: space-between;
  padding-bottom: 12px;
  flex-direction: row;  
  align-items: center;
  padding-top: 12px;
  display: flex;
}

.header-nav {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 48px;

  @media screen and (max-width: $bp-tablet ) {
    gap: 18px;
    }

  &-item {
    transition: color 0.15s ease;
    color: var(--secondary-gray);
    display: flex;
    text-decoration: none;

    &:hover {
      color: var(--secondary-dark-gray);
    }

    span {
      display: inline-block;
      margin-left: 2px;
      font-size: 16px;
    }
  }
}

.header-logo {
  display: block;
  padding: 5px 0;

  img {
    width: 184.5px;
  }
}


.header-line{
  padding: 0px;
  margin: 0px;
}

.header-menu-btn {
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
  background-color: var(--primary-white);
  transition: background-color 0.15s ease;
  border-radius: 50%;
  position: relative;
  border-width: 0;
  display: block;
  height: 48px;
  width: 48px;

  &::before {
    box-shadow: 0 11px 0 var(--secondary-gray), 0 -11px 0 var(--secondary-gray);
    background-color: var(--secondary-gray);
    position: absolute;
    display: block;
    margin: auto;
    content: '';
    width: 24px;
    height: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &:hover {
    background-color: var(--secondary-super-light-gray);
  }
}
