@import './../../styles/scss-variables.scss';

.foodcourt {
    padding-bottom: 48px;

   &-container{
    background-image: url('./../../assets/Images/main-banner-bg.png');
    background-position: 100% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
   } 

   &-section{
    font-family: "Poppins", sans-serif;
    letter-spacing: 1.05px;
    padding-top: 100px;
    padding-bottom: 200px;
    font-weight: 300;
    font-size: 16px;
   }

   h1 {
        text-shadow: 0 4px 4px rgba(0,0,0,0.25);
        line-height: 64px;
        max-width: 100%;
        font-size: 58px;
        width: 535px;
    }
}

.foodcourt-button-container {
    line-height: 20px;
    margin-top: 100px;   
}

.foodcourt-button {
    padding: 16px 24px;
    font-family: "Martel Sans", sans-serif;
    font-size: 12px;
    border: solid 2px var(--primary-yellow);
    background-color: transparent;
    border-radius: 4px;

    &:not(:first-child) {
        margin-left: 20px;
    }

    b {
        font-size: 16px;
        display: block;
    }
}

.benefits {
    display: flex;

    &-inner {
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 24px;
    
        &::before {
            box-shadow: 0 8px 40px rgba(0,0,0,0.08);
            background-color: var(--primary-white);
            position: absolute;
            display: block;
            width: 100vw;
            content: '';    
            bottom: 0;
            right: 0;
            top: 0;
        }
    }

    &-item {
        color: var(--secondary-dark-gray);
        text-decoration: none;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-size: 16px;
        display: inline-flex;
        gap: 16px;
        
        span {
            margin-bottom: 0;
            width: 13em;
        }
    }

    ul {
        position: relative;
        list-style-type: none;
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
    }
}