.social {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.78;
    letter-spacing: 0.8%;
    color: var(--secondary-gray);
      

    &-photo {
        display: flex;
        justify-content: space-between;
    }

    h3 {
      padding-bottom: 21px;  
      border: 1px dashed var(--border-dashed);
      border-radius: 5px;
    }

}

.social span {
  color: var(--black);

}