@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/poppins-v22-latin-300.woff2') format('woff2');
}
 
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/poppins-v22-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/martel-sans-v13-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/martel-sans-v13-latin-regular.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/martel-sans-v13-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../src/assets/fonts/martel-sans-v13-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/open-sans-v40-latin-700.woff2') format('woff2');
}

html {
  display: block;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  height: 100%;
}

h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}
